[Unit]
Description=ledtickerbe
After=multi-user.target

[Service]
ExecStart=/home/pi/data/github.com/claytantor/ledticker-backend/venv/bin/python -u /home/pi/data/github.com/claytantor/ledticker-backend/ledtickerbe.py --config /home/pi/data/github.com/claytantor/ledticker-backend/config.yaml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ledtickerbe
Restart=always
User=root

[Install]
WantedBy=multi-user.target
